.details-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.details-flex > *{
  border: 1px solid rgb(206, 73, 73);
}

.details-flex img{
  background-color: rgb(236, 236, 236);
  border-radius: .3rem;
}

.details-flex > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;  
}
