
.itemcount-container{
  background: white;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
 padding: 0 1rem 1rem 1rem;
}

.count-container{
  margin-top: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  height: 2.5rem;
  border: 1px solid rgb(179, 179, 179);
  border-radius: .3rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.control-btn{
  height: 100%;
  background: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  font-size: 1rem;
  outline: none;
  color: rgb(72, 104, 179);
  border: none;
}

.control-btn:hover{
  background: rgb(248, 246, 246);
}

.item-btn{
  height: 2.5rem;
  border-radius: .3px;
  font-size: 1rem;
  width: 100%;
  background: white;
  border-radius: .3rem;
  border: 2px solid rgb(136, 186, 192);
}

.control-btn:disabled,
.item-btn:disabled{
  background: rgb(236, 236, 236);
  color: rgb(173, 173, 173);
  cursor: not-allowed;  
  border: none;
}